apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "seafile.fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.secretName }}
  tls:
    - hosts:
      - {{ (.Values.ingress.tls.host | default .Values.ingress.host) | quote }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.host | quote }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "seafile.fullname" . }}
            port:
              number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "seafile.fullname" . }}-webdav
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.secretName }}
  tls:
    - hosts:
      - {{ (.Values.ingress.tls.host | default .Values.ingress.host) | quote }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.host | quote }}
    http:
      paths:
      - path: /seafdav
        pathType: Prefix
        backend:
          service:
            name: {{ include "seafile.fullname" . }}
            port:
              number: 8080
